body {
  font-family: 'Poppins', sans-serif;
}

.text-neon-blue {
  color: #00f0ff !important;
}

.text-neon-pink {
  color: #ff4df0 !important;
}

.text-neon-purple {
  color: #a64eff !important;
}

.bg-black {
  background-color: #121212 !important;
}

a.nav-link {
  transition: all 0.3s;
}

a.nav-link:hover {
  color: #00f0ff !important;
}

img {
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.15));
}


.card-title {
  font-weight: 600;
}

.card:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  transform: scale(1.02);
  transition: all 0.3s ease;
}
